[user]
    email = jasongilholme@gmail.com
    name = Jason Gilholme
[color]
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = green
    changed = yellow
    untracked = cyan
[alias]
    graph = log --graph --pretty=format:'%Cred%h%Creset -%C(bold yellow)%D%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    alias = config --get-regexp alias
    co = checkout
    cob = checkout -b
	coo = !git fetch && git checkout
    # br = branch
	# brd = branch -d
	# brD = branch -D
	# merged = branch --merged
	# dmerged = "git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
	st = status
	aa = add -A .
	cm = commit -m
    # aacm = !git add -A . && git commit -m
	cp = cherry-pick
	amend = commit --amend -m
    # dev = !git checkout dev && git pull origin dev
    # staging = !git checkout staging && git pull origin staging
    # master = !git checkout master && git pull origin 
	po = push origin
    # pod = push origin dev
    # pos = push origin staging
    pom = push origin master
    # poh = push origin HEAD
    # pogm = !git push origin gh-pages && git checkout master && git pull origin master && git rebase gh-pages && git push origin master && git checkout gh-pages
	# pomg = !git push origin master && git checkout gh-pages && git pull origin gh-pages && git rebase master && git push origin gh-pages && git checkout master
	plo = pull origin
    # plod = pull origin dev
	# plos = pull origin staging
	# plom = pull origin master
	# ploh = pull origin HEAD
	unstage = reset --soft HEAD^
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	find = "!git ls-files | grep -i"
